/* Banner container */
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Banner image */
.banner-img {
    width: 100%;
    height: 200px;          /* IMPORTANT: keeps full image */
    display: block;        /* removes white gaps */
}

/* Overlay */
.banner-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
    text-align: center;
}

/* Title */
.banner-overlay h1 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
}

.banner-overlay p{
     color: #665858;
    font-size: 20px;
    letter-spacing: 2px;
    margin: 0;

}
