.login-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px); /* subtract navbar height */
    padding: 20px;
    background: linear-gradient(to right, #e2e2e2, #f9f9f9);
}



/* Form box shared by login & register */
.form-box {
    width: 100%;
    max-width: 420px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    display: none; /* Hide by default */
}

/* Show active form */
.form-box.active {
    display: block;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #f858d2;
    letter-spacing: 1px;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: #ef2084;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

.form-box button:hover {
    background: #ff4fa3;
}

.form-box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif
}

.form-box a {
    color: #ef2084;
    text-decoration: none;
    font-weight: 500;
}

.form-box a:hover {
    text-decoration: underline;
}

/* Error message styling */
.error-message {
    padding: 12px;
    background: #f8d7da;
    border-radius: 6px;
    font-size: 16px;
    color: #a42834;
    text-align: center;
    margin-bottom: 20px;
}
