/*product section*/
#product {
    margin-top: 30px; /* adjust the value as needed */
    padding: 30px 100px; /* optional inner padding */
    text-align: center;
}

#product .product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

#product .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
}

#product .pro:hover
{
    box-shadow: 20px 20px 20px rgba(105, 104, 104, 0.6);
}

#product .pro img{
   
    width: 100%;
    border-radius: 20px;
   
}

#product .pro .des{
    text-align: center;
    padding: 10px 0;

}
#product .pro .des h5{
    padding-top: 7px;
    font-size: 14px;
    color:#353030;
}
#product .pro .des h4{
    padding-top: 7px;
    font-size: 12px;
    color:#504c4c

}
#product .pro a{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #ef2084;
    border: 1px solid #cce7d0;
    
}

