/* ---------- SEARCH RESULTS PRODUCT SECTION ---------- */
#searchResults {
    margin-top: 30px;
    padding: 0 50px;
    text-align: center;
}

#searchResults .product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
}

#searchResults .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    background-color: #fff;
}

#searchResults .pro:hover {
    box-shadow: 20px 20px 20px rgba(105, 104, 104, 0.6);
}

#searchResults .pro img {
    width: 100%;
    border-radius: 20px;
}

#searchResults .pro .des {
    text-align: center;
    padding: 10px 0;
}

#searchResults .pro .des h5 {
    padding-top: 7px;
    font-size: 14px;
    color: #353030;
}

#searchResults .pro .des h4 {
    padding-top: 7px;
    font-size: 12px;
    color: #504c4c;
}

#searchResults .pro .add-cart {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #ef2084;
    border: 1px solid #cce7d0;
    margin-top: 10px;
    text-align: center;
    transition: 0.2s ease;
}

#searchResults .pro .add-cart:hover {
    background-color: #ef2084;
    color: #fff;
    border-color: #ef2084;
}

